<div class="wrapper">
  <table>
    <thead>
    <tr>
      @for (column of displayedColumns; track column.name) {
        <th>{{ column.name }}</th>
      }
      <th>Darbības</th>
    </tr>
    </thead>
    <tbody>
      @for (item of getDataItems(); track $index) {
        <tr>
          @for (column of displayedColumns; track column.name) {
            <td [class.admin-cell]="column.pathTo === 'role' && (item.role === 'ROLE_ADMIN')"
                [class.direktor-cell]="column.pathTo === 'role' && (item.role === 'ROLE_DIRECTOR')">
              {{ formatPropertyValue(item, column) }}
            </td>
          }
          <td class="actions">
            <button class="edit-btn" (click)="editRow(item)">Rediģēt</button>
            <button class="delete-btn" (click)="deleteRow(item)"> Dzēst </button>
          </td>
        </tr>
      }
      @if (!getDataItems().length || !displayedColumns?.length) {
        <tr>
          <td class="no-data">
            Nav datu
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
