.wrapper {
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;

  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: var(--mat-sys-background);
    font-weight: bold;
  }

  tr:hover {
    background-color: var(--mat-sys-surface-dim);
  }
  .admin-cell {
    font-weight: bold;
    color: white;
    background-color: var(--mat-sys-primary);
  }

  .actions {
    white-space: nowrap;
    button {
      margin-right: 5px;
      padding: 5px 10px;
      border: none;
      border-radius: 3px;
      cursor: pointer;
    }

    .edit-btn {
      background-color: var(--mat-sys-primary);
      color: white;

      &.admin-button {
        background-color: #ff9800;
      }
    }

    .delete-btn {
      background-color: var(--mat-sys-error);
      color: white;
    }
  }

  .no-data {
    text-align: center;
    padding: 20px;
    color: #888;
  }
}
