C:\Users\cice3\Desktop\BAKALAURS\Backend\Workload Management\.idea
/Backend/workload-management/.mvn/
/Backend/workload-management/target/
/Backend/workload-management/!.mvn/wrapper/maven-wrapper.jar
/Backend/workload-management/!**/src/main/**/target/
/Backend/workload-management/**/src/test/**/target/
/Backend/workload-management/HELP.md

### STS ###
/Backend/workload-management/apt_generated
/Backend/workload-management/classpath
/Backend/workload-management/factorypath
/Backend/workload-management/project
/Backend/workload-management/settings
/Backend/workload-management/springBeans
/Backend/workload-management/sts4-cache

### IntelliJ IDEA ###
.idea
/Backend/Workload Management/*.iws
/Backend/Workload Management/*.iml
/Backend/Workload Management/*.ipr

### NetBeans ###
/Backend/workload-management/nbproject/private/
/Backend/workload-management/nbbuild/
/Backend/workload-management/dist/
/Backend/workload-management/nbdist/
/Backend/workload-management/.nb-gradle/
/Backend/workload-management/build/
/Backend/workload-management/!**/src/main/**/build/
/Backend/workload-management/!**/src/test/**/build/

### VS Code ###
/Backend/workload-management/.vscode/

