@use '@angular/material' as mat;
header{
  padding: 1rem;
  background-color: var(--mat-sys-primary);
}
.flex{
  display: flex;
  padding-top: 1rem;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  gap: 0.5rem;

  a{
    margin: 0.5rem;
  }

  @include mat.fab-overrides((
    container-color: var(--mat-sys-surface)
  ));

  .semester-config-btn {
    background-color: var(--mat-sys-surface);
    color: var(--mat-sys-on-surface);
    font-weight: bold;
  }
}
.VeaLogo {
  position: absolute;
  justify-content: left;
  max-height: 5rem;
}
h1{
  color: var(--mat-sys-on-primary);
}
@media (max-width: 1194px) {
  .flex {
    justify-content: center;
    flex-direction: row;
  }
  .flex a {
    width: 90%;

  }
  .VeaLogo{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  h1 {
    width: 100%;
    text-align: center;
    font-size: 1rem;
    margin: 0.5rem 0;
  }
}


