<header>
  <img src="VeaLogo.svg" class="VeaLogo">
  <nav class="flex">
    <a mat-fab extended routerLink="">
      <mat-icon>dashboard</mat-icon>
      Pārskats
    </a>
    <a mat-fab extended routerLink="user-workload">
      <mat-icon>person</mat-icon>
      Savi dati
    </a>
    @if(isAdmin()){
    <a mat-fab extended routerLink="admin-workload">
      <mat-icon>view_list</mat-icon>
      Noslodzes tabula
    </a>
    <a mat-fab extended routerLink="objects">
      <mat-icon>table_chart</mat-icon>
      Specifiska tabula
    </a>
    }
    <h1>{{ authority }} {{ this.authDetails.fullName }}</h1>
    <a mat-fab extended (click)="logout()">
      <mat-icon>logout</mat-icon>
      atslēgties
    </a>
  </nav>
</header>

