@use '@angular/material' as mat;

  mat-form-field {
    width: 100%;
    margin-bottom: 1rem;
    @include mat.icon-overrides((
      color:white,
    ));

    @include mat.fab-overrides((
      container-color: var(--mat-sys-surface),

    ));
    @include mat.form-field-overrides((
      outlined-outline-width: 2px,
      outlined-caret-color: var(--mat-sys-surface),

      outlined-focus-label-text-color: var(--mat-sys-surface),
      outlined-hover-label-text-color: var(--mat-sys-surface),

      outlined-label-text-color: var(--mat-sys-surface),
      outlined-input-text-color: var(--mat-sys-surface),

      outlined-hover-outline-color:var(--mat-sys-surface),

      outlined-error-label-text-color:var(--mat-sys-surface),
      outlined-error-hover-label-text-color:var(--mat-sys-surface),
      outlined-error-focus-label-text-color:var(--mat-sys-surface),
      error-text-color: var(--mat-sys-surface),
    ));


  .control-error {
    color: red;
    font-size: 0.9rem;
    margin-bottom: 1rem;
  }

  button {
    width: 100%;
  }
}

@media (max-width: 600px) {
  main {
    padding: 1.5rem;
    max-width: 90%;
  }
}
