$table-header-color: #147b73;
$table-row-color: #147b73;


table {
  width: 100%;
  border-collapse: collapse;
  color: black;
  overflow-x: auto;

  th {
    background-color: $table-header-color;

    position: sticky;
    top: 0;
    z-index: 2;

    color: white;
    padding: 10px;
    text-align: left;
  }

  td {
    padding: 10px;
    border: 1px solid #ccc;
  }

  tr:nth-child(even) {
    background-color: $table-row-color;
  }
}
