<dialog open>
    <h2>{{ pageTitle() }}</h2>
  <form [formGroup]="semesterForm" (ngSubmit)="onSubmit()">
    <mat-form-field class="input-flex">
      <mat-select required [formControl]="semesterForm.controls.semesterName">
              <mat-option value="rudens">
                pavasaris
              </mat-option>
              <mat-option value="pavasaris">
                rudens
              </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      @if (semesterForm.controls.year.invalid) {
        <mat-error>{{ errorMessage() }}</mat-error>
      }
      <mat-label>Ievadi gadu</mat-label>
      <input
        type="number"
        matInput
        placeholder="2025"
        [formControl]="semesterForm.controls.year"
        (blur)="updateErrorMessage('year')"
        required
      />
    </mat-form-field>

    @if(editMode()){
      <button mat-raised-button type="button" (click)="navigateBackFromEditMode()" >Atcelt</button>
      <button mat-raised-button type="submit" [disabled]="semesterForm.invalid">Rediģēt</button>
    }@else{
      <button mat-raised-button type="button" (click)="navigateBackFromCreateMode()" >Atcelt</button>
      <button mat-raised-button type="submit" [disabled]="semesterForm.invalid">Izveidot</button>
    }
  </form>
</dialog>
