
<main>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    @if (errorMsg) {
      <div class="control-error">
        @for (msg of errorMsg; track errorMsg){
          <mat-error>{{msg}}</mat-error>
        }
      </div>
    }
    <mat-form-field appearance="outline">
      @if (form.controls.email.invalid) {
        <mat-error>{{errorMessage()}}</mat-error>
      }
      <mat-label>Ievadi ēpastu</mat-label>
      <input
        matInput
        placeholder="epasts@venta.lv"
        [formControl]="form.controls.email"
        (blur)="updateErrorMessage()"
        required
      />

    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Ievadi paroli</mat-label>
      <input
        matInput [type]="hide() ? 'password' : 'text'"
        [formControl]="form.controls.password"
        required/>
      @if (form.controls.email.invalid) {
        <mat-error>{{updateErrorMessagePass()}}</mat-error>
      }
      <button
        mat-icon-button
        matSuffix
        (click)="clickEvent($event)"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide()"
      >
        <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <div>
      <button mat-fab extended [disabled]="form.invalid">
        Pieslēgties
        <mat-icon>favorite</mat-icon>
      </button>
    </div>
  </form>
</main>
