
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  @if (errorMsg) {
    <div class="control-error">
      @for (msg of errorMsg; track errorMsg) {
        <mat-error>{{ msg }}</mat-error>
      }
    </div>
  }
  <mat-form-field appearance="outline">
    @if (form.controls.email.invalid) {
      <mat-error>{{ errorMessage() }}</mat-error>
    }
    <mat-label>Ievadi ēpastu</mat-label>
    <input
      matInput
      placeholder="epasts@venta.lv"
      [formControl]="form.controls.email"
      (blur)="updateErrorMessage()"
      required
    />
  </mat-form-field>
  <button mat-fab extended [disabled]="form.invalid">
    Apstiprināt
    <mat-icon>email</mat-icon>
  </button>
</form>

