<div class="backdrop"></div>
<dialog open>
  <h2>Noslodzes tabulas kolonu iestatījumi</h2>

  <div class="settings-drop-down">
    <mat-form-field appearance="fill">
      <mat-label>Iestatījumi</mat-label>
      <mat-select [value]="selectedSetting()" (selectionChange)="onSettingSelected($event)">
        @for (setting of availableSettings$ | async; track $index) {
          <mat-option [value]="setting">
            {{ setting.settingName }} {{ setting.default ? '(noklusējuma)' : '' }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <div class="settings-actions"></div>
  </div>

  <section class="settings">
    <div class="settings-wrapper">
      @for (column of getMainSettings(); track $index) {
        <div class="settings-column">
          <h2>{{ column.name }}</h2>
          <ul>
            @for (subColumn of getSubSettings(column.collection); track subColumn.pathTo) {
              <li>
                <mat-checkbox
                  class="row"
                  [checked]="subColumn.visible"
                  (change)="toggleGroupVisibility(subColumn.pathTo, subColumn.visible)">
                  <p>{{ subColumn.name }}</p>
                </mat-checkbox>
              </li>
            }
          </ul>
        </div>
      }
    </div>
  </section>
  <div class="actions">
    <mat-slide-toggle [checked]="isDefault()" (change)="toggleDefaultSetting($event.checked)">
      Iestatīt kā noklusējumu
    </mat-slide-toggle>
    <button mat-raised-button type="button" routerLink="../">Atcelt</button>
    <button mat-raised-button id="delete" (click)="deleteCurrentSetting()">Dzēst</button>
    <button mat-raised-button  (click)="saveChanges()">Saglabāt izmaiņas esošam</button>
    <button mat-raised-button (click)="openSaveDialog()">Saglabāt kā jaunu šablonu</button>
  </div>
</dialog>
