<dialog open>
  <form [formGroup]="statusTypeForm" (ngSubmit)="onSubmit()">
    <h2>{{ pageTitle() }}</h2>

    <mat-form-field appearance="outline">
      @if (statusTypeForm.controls.statusTypeName.invalid) {
        <mat-error>{{ errorMessage() }}</mat-error>
      }
      <mat-label>Ievadi statusa nosaukumu</mat-label>
      <input
        matInput
        placeholder="3ITB"
        [formControl]="statusTypeForm.controls.statusTypeName"
        (blur)="updateErrorMessage('statusTypeName')"
        required
      />
    </mat-form-field>

    <div class="action-wrapper">
      @if(editMode()){
        <button mat-raised-button type="button" (click)="navigateBackFromEditMode()" >Atcelt</button>
        <button mat-raised-button type="submit" [disabled]="statusTypeForm.invalid">Rediģēt</button>
      }@else{
        <button mat-raised-button type="button" (click)="navigateBackFromCreateMode()" >Atcelt</button>
        <button mat-raised-button type="submit" [disabled]="statusTypeForm.invalid">Izveidot</button>
      }
    </div>
  </form>
</dialog>
