@use '@angular/material' as mat;

.actions-with-table {
  display: flex;
  align-items: center;
  mat-form-field {
    padding-right: 2rem;
  }
}

.mdc-button{
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
}

table {
  @include mat.table-overrides((
    row-item-container-height: 1rem,
  ));

  td, th {
    text-align: left;
  }

}

.wrapper {
  overflow-x: auto;
}

$green-header: #A5B68D !important;
$orange-header: #ECCA9C !important;

.teacher-header, .calc-header, .salary-header {
  background: $green-header;
}

.course-header, .general-header {
  background: $orange-header;
}

td.mat-column-action {
  width: 20px;
  padding-right: 8px;
}

th.mat-column-position,
td.mat-column-position {
  padding-left: 8px;
}

.mat-mdc-table-sticky-border-elem-right {
  border-left: 1px solid #e0e0e0;
}

.mat-icon {
  scale: 0.6;
}
.mat-column-delete{
  max-width: 3rem;
  padding: 0;
}
.mat-column-edit{
  max-width: 3rem;
  padding: 0;
}
.action-header{
  opacity: 0;
}
