table {
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  th {
    background-color: var(--mat-sys-primary);
    color: white;
    padding: 12px;
    text-align: left;
    font-weight: bold;
  }
}
.wrapper{
  width: 100%;
  overflow-x: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
