.wrapper {
  display: block;
  overflow-x: auto;
  margin: 2rem 0;
  max-width: 100%;
}

table {
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  min-width: max-content;
}

th {
  background-color: var(--mat-sys-primary);
  color: white;
  padding: 6px 10px;
  text-align: left;
  font-weight: normal;
  border-bottom: 1px solid #ddd;
}
