<div class="backdrop"></div>
<dialog open>
  <form [formGroup]="teachingStaffForm" (ngSubmit)="onSubmit()">
    <h2>Pievienot jaunu docentu</h2>
    <mat-form-field appearance="outline">
      @if (teachingStaffForm.controls.name.invalid) {
        <mat-error>{{ errorMessage() }}</mat-error>
      }
      <mat-label>Ievadi vārdu</mat-label>
      <input
        matInput
        placeholder="Vārds"
        [formControl]="teachingStaffForm.controls.name"
        (blur)="updateErrorMessage()"
        required
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      @if (teachingStaffForm.controls.surname.invalid) {
        <mat-error>{{ errorMessage() }}</mat-error>
      }
      <mat-label>Ievadi uzvārdu</mat-label>
      <input
        matInput
        placeholder="Uzvārds"
        [formControl]="teachingStaffForm.controls.surname"
        (blur)="updateErrorMessage()"
        required
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      @if (teachingStaffForm.controls.positionTitle.invalid) {
        <mat-error>{{ errorMessage() }}</mat-error>
      }
      <mat-label>Ievadi amata nos.</mat-label>
      <input
        matInput
        placeholder="Vieslektors"
        [formControl]="teachingStaffForm.controls.positionTitle"
        (blur)="updateErrorMessage()"
        required
      />
    </mat-form-field>
    <div class="flex-faculty">
      <mat-form-field class="input-flex">

        <mat-select required [formControl]="teachingStaffForm.controls.staffFaculty">
          @if (isFetching()) {
          <mat-option>
            Lādē datus...
          </mat-option>
          }
          @if (faculties()) {
            @for (faculties of faculties(); track faculties.facultyName) {
              <mat-option [value]="faculties">
                {{ faculties.facultyId }}
              </mat-option>
            }
          } @else {
            <p>Izveidojiet fakultātes!</p>
          }
        </mat-select>
        <mat-label><em> Izvēlies fakultāti</em></mat-label>

<!--        <mat-select [formControl]="teachingStaffForm.controls.staffFaculty" placeholder="Fakultāte" #singleSelect>-->
<!--          @if (isFetching()) {-->
<!--            <p>Lādē datus...</p>-->
<!--          }-->
<!--          @if (faculties()) {-->
<!--            @for (faculties of faculties(); track faculties.facultyName) {-->
<!--              <mat-option [value]="faculties">-->
<!--                {{ faculties.facultyName }}-->
<!--              </mat-option>-->
<!--            }-->
<!--          } @else {-->
<!--            <p>Izveidojiet fakultātes!</p>-->
<!--          }-->
<!--        </mat-select>-->
      </mat-form-field>
<!--      <button mat-raised-button type="button" (click)="addNewFaculty()">Izveidot jaunu fakultāti</button>-->
    </div>

    @if (onNewFaculty()) {
      <app-new-faculty (emitFaculty)="onEmittedFaculty($event)" class="inserted"/>
    }
    <div class="flex-faculty">

    @if(userAuthDetails()?.email){
       <p>{{userAuthDetails()?.email}}</p>
    }
      <button mat-raised-button type="button" (click)="closeOrOpenAuthDetails()" id="auth-details-button">{{authButtonText()}}</button>
    </div>
    @if (onAddUserAuthDetails()) {
      <app-new-user (emitUserAuthDetails)="onEmittedUserAuthDetails($event)" (emitCancel)="closeOrOpenAuthDetails()" class="inserted"/>
    }
    <div class="action-wrapper">
    <button mat-raised-button type="button" routerLink="..">Cancel</button>
    <button mat-raised-button type="submit">Create</button>
    </div>
  </form>


</dialog>
