@use '@angular/material' as mat;

.inserted{
  padding: 1rem;
  border: 1px solid white;
}
.flex-faculty{
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction:row;
}
.input-flex{
  flex-grow:3;
}
.action-wrapper{
  margin-top:1.5rem;
}

